{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="main-create text text-center">
    <h1 class="mrg-10">Login</h1>
    {% if next %}
      <p>Please login to see this page.</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post" novalidate>
      {% csrf_token %}
      {% for field in form %}
        {% if field.errors %}
          <p class="mrg-10 text-red">Your username and password didn't match. Please try again.</p>
        {% endif %} <br>
        <div class="mrg-10">
          {{ field.label_tag }} <br> {{ field  }} <br>
          <div class="text-black">{{ field.help_text }}</div> <br>
          <hr>
        </div>
      {% endfor %}
      <input type="submit" value="Submit" class="text-black mrg-10">
    </form>
  </div>
{#  <input type="hidden" name="next" value="{{ next }}" />#}

{% endblock %}
