{% extends "base.html" %}
{% load static %}

{% block content %}
  {% include 'includes/search.html' %}
  <div class="div-70 text text-center">
    <a href="{% url 'taxi:car-create' %}" class="text-right link-button">Create</a>
  </div>
  {% if car_list %}
    <div class="main main-lists">
      {% for car in car_list %}
        <div class="img-list">
              <a href="{% url "taxi:car-detail" pk=car.id %}"><img src="{{ car.picture_url.url }}" alt=""></a>
              <p class="text-center"><a href="{% url "taxi:car-detail" pk=car.id %}" class="text menu__link">{{ car.model }}</a></p>
            </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no cars in the service.</p>
  {% endif %}
  {% include 'includes/pagination.html' %}
{% endblock %}