{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "includes/search.html" %}
{% if car_list %}
<div class="container padBot">
  <div class="row">
    <article class="span12 box-thumb">
      <h2><em>our<br>
        <span>cars</span>
        <a href="{% url 'taxi:car-create' %}" class="btn btn-primary pull-right">
          Create
        </a>
      </em></h2>
      <div class="row">
        {% for car in car_list %}
          <div class="span4 thumb-pad4">
            <div class="thumbnail">
              <figure><a href="{% url "taxi:car-detail" pk=car.id %}"><img src="{{ car.picture_url }}" alt=""></a></figure>
              <div class="caption">
                  <a href="{% url "taxi:car-detail" pk=car.id %}">{{ car.model }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
     </article>
   </div>
</div>
    {% else %}
      <p>There are no cars in taxi.</p>
    {% endif %}
{% endblock %}