{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="text text-center mrg-10">{{ object|yesno:"Update,Create" }} car</h1>
  <hr>
    <div class="main-create text text-center">
      <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="mrg-10">
          {{ field.errors }} <br>
          {{ field.label_tag }} <br> {{ field  }} <br>
          <div class="text-black">{{ field.help_text }}</div> <br>
          <hr>
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="text-black mrg-10">
      </form>
    </div>
{% endblock %}
