{% extends "base.html" %}

{% block content %}
  <div class="detail-size">
    <div class="main-detail">
      <div class="img-list">
        <a href=""><img src="{{ driver.picture_url.url }}" alt=""></a>
      </div>
      <div class="mrg-10">
        <p class="text text-center mrg-10">Username: {{ driver.username }}</p>
        <p class="text text-center mrg-10">First name: {{ driver.first_name }}</p>
        <p class="text text-center mrg-10">Last name: {{ driver.last_name }}</p>
        <p class="text text-center mrg-10">License number: {{ driver.license_number }}</p>
        <p class="text text-center mrg-10">Is staff: {{ driver.is_staff }}</p>
      </div>
      <div class="mrg-10">
        <div class="mrg-10 text-center"><a href="{% url 'taxi:driver-update' pk=driver.id %}" class="link-update text">update license number</a></div>
        <div class="mrg-10 text-center"><a href="{% url 'taxi:driver-delete' pk=driver.id %}" class="link-delete text">delete</a></div>
      </div>
    </div>
    <p class="text text-center mrg-10">cars</p>
    <hr>
    {% for car in driver.cars.all %}
      <div class="main-detail">
        <div class="img-list">
          <a href="{% url "taxi:car-detail" pk=car.id %}"><img src="{{ car.picture_url.url }}" alt=""></a>
        </div>
        <div class="mrg-10">
          <p class="text text-center mrg-10">Model: {{ car.model }}</p>
          <p class="text text-center mrg-10">Manufacturer: {{ car.manufacturer.name }}</p>
          <p class="text text-center mrg-10">id: {{car.id}}</p>
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>
{% endblock %}
