{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ driver.username }}
    <a href="{% url 'taxi:driver-delete' pk=driver.id %}" class="btn btn-danger pull-right">
      Delete
    </a>

    <a href="{% url 'taxi:driver-update' pk=driver.id %}" class="btn btn-secondary pull-right">
      Update license number
    </a>
  </h1>

  <p class="align-center"><strong>First name:</strong> {{ driver.first_name }}</p>
  <p class="align-center"><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p class="align-center"><strong>License number:</strong> {{ driver.license_number }}</p>
  <p class="align-center"><strong>Is staff:</strong> {{ driver.is_staff }}</p>

  <div class="ml-3">
    <h4 class="align-center">Cars</h4>

    {% for car in driver.cars.all %}
        <hr>

        <p class="align-center"><strong>Model:</strong> {{ car.model }}</p>
        <p class="align-center"><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
        <p class="text-muted align-center"><strong>Id:</strong> {{car.id}}</p>

    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
