{% extends "base.html" %}
{% load static %}

{% block content %}
  {% include 'includes/search.html' %}
  <div class="div-70 text text-center">
    <a href="{% url 'taxi:driver-create' %}" class="text-right link-button">Create</a>
  </div>
  {% if driver_list %}
    <div class="main-lists">
      {% for driver in driver_list %}
        <div class="img-list">
          <a href="{{ driver.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ driver.picture_url }}" alt=""></a>
          <p class="text-center"><a href="{{ driver.get_absolute_url }}" class="text menu__link">{{ driver.first_name }} {{ driver.last_name }} {% if user == driver %} (Me){% endif %}</a></p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no drivers in the service.</p>
  {% endif %}
  {% include 'includes/pagination.html' %}
{% endblock %}
