{% extends "base.html" %}

{% block content %}
  <article class="slider">
    <div class="camera_wrap">
      {% load static %}
      <div data-src="{% static 'img/picture1.jpg' %}"><div class="camera-caption">Counts of cars in service: {{ num_cars }}</div></div>
      <div data-src="{% static 'img/picture2.jpg' %}"><div class="camera-caption">Counts of our drivers: {{ num_drivers }}</div></div>
      <div data-src="{% static 'img/picture3.jpg' %}"><div class="camera-caption">Counts of manufacturers of our car: {{ num_manufacturers }}</div></div>
    </div>
    <em></em>
  </article>
{% endblock content%}
