/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* html */
.body-class {
    margin: 0;
    background-color: #f5c34c;
    min-width: 900px;
    min-height: 700px;
}

.global {
    margin: 0;
    padding: 0;
}

.login {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #f5c34c;
}

.div-70 {
    width: 70%;
    margin: 0 auto;
    display: table;
}

.text {
    color: white;
    text-transform: uppercase;
}

.text-black {
    color: black;
    text-transform: uppercase;
}

.text-red {
    color: red;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    float: left;
    margin: 0;
}

.text-right {
    margin: 0;
    float: right;
    text-align: right;
}

.text-right a {
    text-decoration: none;
    color: white;
}

.menu {
    background-color: white;
    padding: 25px 0 25px 0;
}

.menu__sub {
    width: 70%;
    margin: 0 auto;
    display: table;
}

.logo {
    display: block;
    float: left;
    line-height: 0;
    text-align: center;
}

.menu__nav {
    display: block;
    float: right;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    list-style: none inside;
    padding: 0;
}

.menu__li {
    display: inline-block;
    margin: 0 0 0 20px;
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
}

.active {
    color: #f5c34c;
}

.main {
    min-height: calc(100vh - 283px);
}

.main-create {
    min-height: calc(100vh - 320px);
}

.main-create input {
    width: 300px;
}

.main img {
    width: 100%;
}

.image-text {
    position: relative;
    bottom: 80px;
    color: white;
    text-align: center;
    font-size: 48px;
    height: 0;
}

.footer {
    padding-bottom: 20px;
    background-color: #f5c34c;
    width: 100%;
}

.footer img {
    width: 100%;
    height: 100%;
}

.main-lists {
    min-height: calc(100vh - 410px);
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 20px auto;
}

.img-list {
    width: 230px;
    margin: 10px;
}

.img-list img {
    width: 230px;
}

.search {
    margin: 10px;
}

.search input {
    width: 30%;
    font-size: 16px;
}

.link-button {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: darkgrey;
    color: green;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.link-update {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: darkgrey;
    color: blue;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.link-delete {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: darkgrey;
    color: red;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.mrg-10 {
    margin: 10px;
}

.main-detail {    
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detail-size {
    min-height: calc(100vh - 286px);
}

.errorlist {
    color: red;
}

#id_drivers {
    width: fit-content;
    text-align: left;
    margin: 0 auto;
}