{% load static %}
<div class="menu">
  <div class="menu__sub">
    <a  class="logo" href="{% url 'taxi:index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
    <ul class="menu__nav">
      <li class="menu__li"> <a href="{% url 'taxi:index' %}" class="menu__link
      {% if request.path == "/" %}
        active
      {% endif %}#
      ">Home</a></li>
      <li class="menu__li"><a href="{% url 'taxi:driver-list' %}" class="menu__link
      {% if request.path == "/drivers/" %}
        active
      {% endif %}#
      ">Drivers</a></li>
      <li class="menu__li"><a href="{% url 'taxi:car-list' %}" class="menu__link
      {% if request.path == "/cars/" %}
        active
      {% endif %}#
      ">Cars</a></li>
      <li class="menu__li"><a href="{% url 'taxi:manufacturer-list' %}" class="menu__link
      {% if request.path == "/manufacturers/" %}
        active
      {% endif %}#
      ">Manufacturers</a></li>
    </ul>
  </div>
</div>
