{% load search_query %}
{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <p><a href="?{% search_transform request page=page_obj.previous_page_number %}" class="menu__link text">previous</a></p>
    {% endif %}
    <p class="menu__link text">{{ page_obj.number }} of {{ paginator.num_pages }}</p>
    {% if page_obj.has_next %}
      <p><a href="?{% search_transform request page=page_obj.next_page_number %}" class="menu__link text">next</a></p>
   {% endif %}
  </div>
{% endif %}