{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'icons/icon.png' %}" type="image/icon type">
    <title>Taxi service</title>
  </head>
  <body class="body-class">
    <div class="global">
      {% block header %}
      <header>
          <div class="login text">
            <div class="div-70">
              <p class="text-left">phone: 0-800-300-000</p>
              {% if user.is_authenticated %}
                <p class="text-right"><a href="{% url "taxi:driver-detail" pk=user.id %}">{{ user.username }}</a> &bull; <a href="{% url 'logout' %}?next={{request.path}}">logout</a> {% if request.path == "/" %}&bull; (visited: {{ num_visits }} time{{ num_visits|pluralize }}) {% endif %}</p>
              {% else %}
                <p class="text-right"><a href="{% url 'login' %}?next={{request.path}}">login</a></p>
              {% endif %}
            </div>
          </div>
        {% include 'includes/menu.html' %}
        </header>
      {% endblock %}
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <footer>
        {% block footer %}
          <div class="footer text">
            <div><img src="{% static 'img/taxi-chek.png' %}" alt=""></div>
            <div class="div-70">
              <p class="text-left">Taxi Service &copy; 2022</p>
              <p class="text-right"><a href="#">facebook</a> &bull; <a href="#">twitter</a></p>
            </div>
          </div>
        {% endblock %}
      </footer>
    </div>
  </body>
</html>
